<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">books</a></li>
          <li><a href="#">Fiction</a></li>
          <li><a href="#">mystery</a></li>
          <li><a href="#">fantacy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#">
            <img src="../../../../assets/social-icons/facebook.svg" alt="facebook-icon">
          </a>

          <a href="#">
            <img src="../../../../assets/social-icons/instagram.svg" alt="insta-icon">

          </a>

          <a href="#">
            <img src="../../../../assets/social-icons/linkedin.svg" alt="linkedin-icon">

          </a>

          <a href="#">
            <img src="../../../../assets/social-icons/twitter.gif" alt="twitter-icon">

          </a>

        </div>
      </div>
    </div>
  </div>
</footer>